$default: rgba(8, 10, 12, 0.8);
$title: rgba(8, 10, 12, 0.9);
$gray: #080A0C;

%gilroy-regular {
  font-family: "gilroy-regular";
}

%gilroy-medium {
  font-family: "gilroy-medium";
}

%gilroy-semibold {
  font-family: "gilroy-semibold";
}

%gilroy-bold {
  font-family: "gilroy-bold";
}

%faktos-outline {
  font-family: "faktos-outline";
}

%link-btn {
  width: 275px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(93.97deg, #4e7ca5 -13.72%, #5ee8c3 107.04%);
  border-radius: 30px;
  @extend %gilroy-semibold;
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
  svg {
    margin: 1px 0 0 15px;
  }
}

%title {
  @extend %gilroy-bold;
  font-size: 48px;
  line-height: 1.2;
  color: $title;
}
