@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

//----------- header -----------

.header {
  position: relative;
  z-index: 160;
  transition: all 0.3s;
  &.header--fixed {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    background-color: #4e7ca5;
    & + main {
      padding-top: 87px;
    }
  }
  &.header--pinned {
    top: 0;
  }
}

.menu {
  padding: 52px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %gilroy-semibold;
  font-size: 18px;
  line-height: 1;
  &__btn {
    display: none;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 200;
    span {
      width: 22px;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.8);
      transition: all 0.3s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.8);
      transition: all 0.3s;
    }
    &::before {
      top: 14px;
    }
    &::after {
      bottom: 14px;
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(45, 45, 45, 0.45);
    backdrop-filter: blur(4px);
    z-index: 140;
    transition: 0.25s ease-in;
    &.menu__overlay--active {
      visibility: visible;
      opacity: 1;
    }
  }
  &__list {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 90px;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    z-index: 150;
  }
  &__item {
    transition: all 0.3s;
    &:hover {
      color: rgba(#fff, 1);
      transform: translateY(-2px);
    }
  }
  &__link {
    display: block;
    padding: 5px 10px;
  }
  &__login {
    z-index: 150;
    padding: 10px 30px;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.42);
    border-radius: 30px;
    transition: all 0.3s;
    &:hover {
      color: rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 0.8);
    }
  }
}

//----------- intro -----------

.intro {
  text-align: right;
  @extend %gilroy-semibold;
  min-height: calc(100vh - 151px);
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .slick-dots {
      position: absolute;
      top: 26.6%;
      left: 0;
      right: 0;
      max-width: 1630px;
      margin: 0 auto;
      padding: 0px 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 0;
      button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        z-index: 13;
        &::after {
          content: "";
          position: absolute;
          top: -10px;
          left: -10px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
      }
      li {
        position: relative;
        &:not(:last-child) {
          margin-bottom: 34px;
        }
        &:first-child,
        &:last-child {
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 164px;
            width: 2px;
            background-color: #fff;
          }
        }
        &:first-child {
          padding-top: 198px;
          &::before {
            top: 0;
          }
        }
        &:last-child {
          padding-bottom: 198px;
          &::before {
            bottom: 0;
          }
        }
        &.slick-active {
          button {
            &::after {
              background: linear-gradient(
                180deg,
                rgba(93, 146, 177, 0.6) -110%,
                rgba(93, 221, 193, 0.6) 148.75%
              );
              box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
    .slick-slide {
      &:nth-child(1) .intro__slide {
        background-position: left 32% center;
      }
      &:nth-child(2) .intro__slide {
        background-position: left 34% center;
      }
    }
  }
  &__slide {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        225deg,
        rgba(0, 0, 0, 0.42) 30%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
  &__inner {
    color: #fff;
    position: relative;
    z-index: 9;
    min-height: calc(100vh - 151px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__content {
    padding-bottom: 257px;
  }
  &__suptitle {
    margin: 0 0 26px auto;
    max-width: 936px;
    @extend %gilroy-bold;
    font-size: 60px;
    line-height: 1.2;
    span {
      background: linear-gradient(180deg, #518eaa 0%, #a3fae9 93.23%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      white-space: nowrap;
    }
  }
  &__title {
    max-width: 560px;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 37px auto;
    color: rgba(255, 255, 255, 0.8);
  }
  &__link {
    box-shadow: 0px 0px 30px #ffffff;
    filter: none;
    margin: 0 0 136px auto;
  }
  &__benefits {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 29px 65px;
    justify-content: end;
    justify-items: start;
  }
  &__item {
    position: relative;
    min-height: 42px;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 42px;
      height: 42px;
      border: 1px solid #7ec3cb;
      border-radius: 50%;
      filter: drop-shadow(0px 0px 20px #ffffff);
    }
    p {
      padding-left: 50px;
      line-height: 1.2;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 11px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: radial-gradient(
          50% 50% at 50% 50%,
          #59c3b9 87.5%,
          rgba(146, 211, 219, 0) 100%
        );
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.67));
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.85);
      }
    }
  }
}

//----------- about -----------

.about {
  position: relative;
  z-index: 12;
  &__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 38px;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 96px;
      width: 40px;
      height: 263px;
      background-repeat: no-repeat;
    }
    &::before {
      left: 0;
      background-image: url("../images/decor-left.svg");
    }
    &::after {
      right: 0;
      background-image: url("../images/decor-right.svg");
    }
  }
  &__benefits {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    padding: 37px 0 191px;
    border-radius: 90px 90px 0 0;
    margin-top: -127px;
    position: relative;
    background-color: #fff;
  }
  &__item {
    display: grid;
    grid-row-gap: 33px;
    justify-items: center;
    &:nth-child(even) {
      p {
        order: -1;
      }
    }
    p {
      @extend %gilroy-semibold;
      max-width: 206px;
      font-size: 18px;
      line-height: 1.1;
      text-align: center;
      color: $title;
    }
  }
  &__number {
    @extend %faktos-outline;
    font-size: 72px;
    line-height: 0.8;
    color: #579a8d;
  }
  &__story {
    background-color: #fafbfd;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 67px 85px;
    position: relative;
    z-index: 6;
    overflow: hidden;
    p {
      margin-bottom: 29px;
      max-width: 728px;
    }
  }
  &__suptitle {
    @extend %gilroy-bold;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(148, 229, 221, 0.9);
    display: block;
    margin-bottom: 7px;
  }
  &__title {
    text-align: left;
    max-width: 580px;
    margin-bottom: 16px;
  }
  &__bg {
    position: absolute;
    top: 72px;
    right: 86px;
    z-index: -1;
    width: 556px;
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50px;
      background: linear-gradient(
        102.2deg,
        #ffffff 35.92%,
        rgba(255, 255, 255, 0) 130.34%
      );
    }
  }
}

//----------- programs -----------

.programs {
  margin-top: -70px;
  padding: 235px 0 152px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      130.58deg,
      rgba(255, 255, 255, 0.85) 35.26%,
      rgba(255, 255, 255, 0.85) 111.65%
    );
    z-index: 1;
  }
  &__inner {
    position: relative;
    z-index: 5;
  }
  &__title {
    margin-bottom: 63px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.38);
    overflow: hidden;
    p {
      max-width: 423px;
      margin-bottom: 28px;
    }
  }
  &__img {
    width: 485px;
    max-width: 100%;
    height: 429px;
    object-fit: cover;
    transition: all 0.42s ease-in-out;
  }
  &__content {
    padding: 28px 20px 29px;
  }
  &__name {
    @extend %gilroy-semibold;
    line-height: 1.2;
    color: $title;
    font-size: 24px;
    margin-bottom: 28px;
  }
}

//----------- tracks -----------

.tracks {
  padding-top: 152px;
  position: relative;
  z-index: 7;
  &__title {
    margin-bottom: 63px;
  }
  &__count {
    @extend %gilroy-bold;
    font-size: 48px;
    line-height: 1.2;
    color: rgba($gray, 0.49);
    text-align: center;
    display: block;
    margin-bottom: 35px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      max-width: 687px;
      text-align: center;
    }
  }
  .slick-slide {
    margin: 0 7px;
    cursor: pointer;
    .tracks__img {
      transform: scale(0.87);
      transition: all 0.7s;
    }
    .tracks__info {
      transition: all 0.25s;
      visibility: hidden;
      opacity: 0;
    }
    .tracks__more {
      transition: all 0.15s;
      visibility: visible;
      opacity: 1;
    }
  }
  .slick-slide.slick-current {
    cursor: auto;
    .tracks__img {
      transform: scale(1);
      box-shadow: 0px 15px 40px rgba(75, 137, 154, 0.76);
    }
    .tracks__more {
      visibility: hidden;
      opacity: 0;
    }
    .tracks__info {
      transition: all 0.5s;
      transition-delay: 0.35s;
      visibility: visible;
      opacity: 1;
    }
  }
  .slick-arrow {
    position: absolute;
    padding: 5px 10px;
    top: -87px;
  }
  .slick-prev {
    left: 50%;
    transform: translateX(-208%);
  }
  .slick-next {
    right: 50%;
    transform: translateX(208%);
  }
  &__img {
    margin: 25px 0 75px;
    max-width: 814px;
    width: 100%;
    height: 624px;
    object-fit: cover;
    border-radius: 60px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.2);
  }
  &__more {
    color: $title;
    padding-left: 105px;
    margin-top: -50px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 87px;
      height: 1px;
      background-color: #5bd5be;
    }
  }
  &__box {
    display: grid;
    justify-content: center;
    row-gap: 14px;
    margin-bottom: 45px;
  }
  &__map-link,
  &__difficulty {
    @extend %gilroy-semibold;
    font-size: 18px;
    color: $title;
    padding-left: 44px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__map-link {
    &::before {
      width: 20px;
      left: 6px;
      background-image: url("../images/icons/marker.svg");
      transition: all 0.3s;
    }
    transition: all 0.3s;
    &:hover {
      color: #518eaa;
    }
  }
  &__difficulty {
    &::before {
      width: 31px;
      left: 0;
      background-image: url("../images/icons/star.svg");
    }
  }
}

//----------- rooms -----------

.rooms {
  padding: 240px 0 152px;
  margin-top: -49px;
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      150.87deg,
      #ffffff -0.49%,
      rgba(255, 255, 255, 0.83) 60.74%
    );
    background-position: top right;
  }
  &__inner {
    position: relative;
  }
  &__title {
    margin-bottom: 92px;
  }
  &__list {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-gap: 3px;
    li {
      overflow: hidden;
      border-radius: 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: #fff;
    }
  }
  &__info {
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        171.15deg,
        #8ebcda 2.63%,
        rgba(190, 220, 240, 0.69) 98.51%
      );
      z-index: 0;
    }
  }
  &__item {
    height: 648px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.35) 100%
      );
      z-index: 0;
    }
    &:hover,
    &:focus-within {
      .rooms__link {
        color: rgba(#fff, 1);
      }
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    @extend %gilroy-bold;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    transition: all 0.3s;
  }
  &__more {
    @extend %gilroy-regular;
    text-transform: lowercase;
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
    padding-right: 60px;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 50px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
  &__info-inner {
    display: grid;
    grid-auto-rows: max-content;
    justify-items: center;
    align-content: center;
    row-gap: 124px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    p {
      max-width: 579px;
    }
  }
  &__info-title {
    @extend %title;
    color: $default;
  }
  &__info-name {
    @extend %gilroy-semibold;
    margin-bottom: 10px;
  }
  &__info-price {
    @extend %title;
    color: $default;
    margin-bottom: 8px;
  }
}

//----------- reviews -----------

.reviews {
  padding: 89px 0 227px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      180.55deg,
      rgba(255, 255, 255, 0.97) 0.43%,
      rgba(255, 255, 255, 0.79) 97.02%
    );
  }
  &__inner {
    position: relative;
  }
  .slick-slide {
    margin-top: 66px;
  }
  .slick-dots {
    margin-top: 54px;
    display: flex;
    justify-content: center;
    li {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
    button {
      font-size: 0;
      width: 35px;
      height: 35px;
      background: linear-gradient(
        180deg,
        rgba(93, 146, 177, 0.6) -110%,
        rgba(93, 221, 193, 0.6) 148.75%
      );
      border-radius: 50%;
      transition: all 0.3s;
      will-change: transform;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 15px;
        background-color: #96d2d1;
        border-radius: 50%;
        transition: all 0.2s;
      }
      &:hover {
        transform: scale(1.125);
      }
    }
    .slick-active {
      button {
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.31);
        &::before {
          background-color: #fff;
        }
      }
    }
  }
  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 40;
  }
  .slick-next {
    right: 0;
    padding: 0 4px 0 12px;
  }
  .slick-prev {
    left: 0;
    padding: 0 12px 0 4px;
  }
  &__content {
    margin: 0 auto;
    padding: 126px 126px 137px 126px;
    max-width: 1123px;
    min-height: 623px;
    border-radius: 30px;
    position: relative;
    background: linear-gradient(
      180.06deg,
      #a4c7dd 0.05%,
      rgba(81, 209, 181, 0.26) 133.24%
    );
    p {
      max-width: 728px;
    }
    &::before {
      content: "";
      position: absolute;
      top: -68px;
      left: 49px;
      background-image: url("../images/content/quote-left.svg");
      background-repeat: no-repeat;
      width: 132px;
      height: 132px;
    }
  }
  &__author {
    color: $title;
    position: absolute;
    top: 107px;
    right: -120px;
  }
  &__img {
    border-radius: 30px;
    width: 240px;
    height: 210px;
    object-fit: cover;
    margin-bottom: 7px;
  }
  &__name {
    @extend %gilroy-bold;
    font-size: 24px;
    margin-bottom: 3px;
  }
  &__date {
    @extend %gilroy-semibold;
    font-size: 18px;
    line-height: 1.2;
  }
}

//----------- footer -----------

.footer {
  padding: 71px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba($gray, 0.53);
    line-height: 1.2;
    & > * {
      padding: 0 25px;
    }
  }
  &__home-link {
    @extend %gilroy-semibold;
    font-size: 48px;
    line-height: 1.2;
    color: $title;
    div {
      font-size: 24px;
      line-height: 1.2;
      color: rgba($gray, 0.53);
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 141px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.44);
      }
    }
    span {
      transition: all 0.3s;
      white-space: nowrap;
    }
    &:hover {
      span {
        color: #5bd3be;
      }
    }
  }
  &__contacts {
    display: grid;
    row-gap: 13px;
    max-width: 334px;
    font-size: 24px;
  }
  &__link {
    transition: all 0.2s;
    &:hover {
      color: #5bd3be;
    }
    &--nowrap {
      white-space: nowrap;
    }
  }
  &__socials {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 20px;
  }
  &__social-link {
    padding: 10px;
    display: flex;
    path {
      transition: all 0.3s;
    }
    &:hover {
      path {
        fill: #5bd3be;
      }
    }
  }
  &__map-box {
    max-width: 600px;
    width: 100%;
    iframe {
      width: 100%;
      height: 425px;
    }
  }
}

@import "media";
